

<div class='question-container'>
  <% @questions.each do |question| %>

    <article id="<%= question.id %>">
      <h2><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>
      <p>
        <span class='points'><%= question.votes.count%></span>
        <span class='username'><%= User.find(question.user_id).username %></span>
        <span class='timestamp'><%= question.created_at %></span>
        <span class='comment-count'><%= question.comments.count %></span>
      </p>
    </article>

  <% end %>
</div>


<form id="questions" method="post" action="/questions">
  Enter your question here:
  <input type="text" name="title" placeholder="title">
  <input type="textarea" name="body" placeholder="body">
  <input type="submit" value="submit new question">
</form>
